<!DOCTYPE html>
<html lang="en">

<head>
    <title>NHÓM 14</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://hroy.eu/bootstrap/docs/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Knowledge</a>
                    </li>
                    <li style="padding-left: 20px;" role="presentation"><a href="/showEncode">Let's Encode</a>
                    </li>
                    <li style="padding-left: 20px;" role="presentation"><a href="/showDecode">Let's Decode</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">CÁC KĨ THUẬT GIẤU TIN - NHÓM 14</h3>
            <div style="text-align: right;">
                <p>LÂM QUANG VINH - N17DCAT078</p>
                <p>TRƯƠNG HOÀNG LUÂN - N17DCAT042</p>
                <p>NGUYỄN QUỐC VIỆT - N17DCAT077</p>
            </div>
        </div>

        <div class="jumbotron">
            <h1>ĐỀ TÀI: Giấu tin trong file Audio dùng Phase Coding</h1>
            <p class="lead"></p>
            <p>
                <a class="btn btn-lg btn-success" href="/showEncode" role="button">Mã hóa</a>
            </p>
            <p>
                <a class="btn btn-lg btn-danger" href="/showDecode" role="button">Giải mã</a>
            </p>
        </div>

        <footer class="footer">
            <p>&copy; Copyright 2021</p>
        </footer>

    </div>
</body>

</html>